* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: rgb(21, 199, 243);
}

/* REGISTER */

.register-wrapper {
  margin: 4em 1.5em;
}

.hero-wrapper {
  background: rgb(2, 132, 253);
  padding: 3em 1em;
  color: white;
  text-align: center;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.heading span {
  margin-right: 0.5em;
}

.hero-img {
  width: 250px;
  border-radius: 10px;
}

.links {
  font-size: 1.2rem;
  margin-top: 2em;
}

.links a {
  padding: 0 0.5em;
  color: white;
}

.links a:hover {
  color: rgb(21, 199, 243);
}

.form-wrapper {
  background: white;
  padding: 4em 1em;
}

.form-wrapper h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2em;
  text-align: center;
}

.form-wrapper p {
  text-align: center;
  margin-bottom: 2em;
}

label {
  font-size: 0.9rem;
}

.submit-btn {
  background: rgb(2, 132, 253);
}

.form-footer {
  text-align: left !important;
  font-size: 0.9rem;
  margin-top: 2em;
}

@media screen and (min-width: 768px) {
  .register-wrapper {
    margin: 2.5em auto;
    display: flex;
    max-width: 1000px;
  }

  .hero-wrapper {
    padding: 3em 2em;
    color: white;
    text-align: left;
  }

  .heading {
    margin-bottom: 2em;
  }

  .hero-img {
    width: 350px;
    margin-top: 1em;
    height: 400px;
    object-fit: cover;
  }

  .links {
    text-align: center;
  }

  .form-wrapper {
    width: 600px;
    padding: 3em 4em 1em;
  }

  .form-wrapper h3 {
    text-align: left;
  }

  .form-wrapper p {
    text-align: left;
  }
}

/* LOGIN */

.hero-img-login {
  width: 300px;
}
